body{
    display: flex;
    flex-direction: column;
}

.title {
    transform: scale(1);
    transition: 0.5s;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.title--red {
    background: linear-gradient(0deg, #FF002E 0%, rgba(255, 0, 46, 0) 103.28%, rgba(255, 214, 0, 0) 103.29%);
    color: white;
}

.title:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}