@import url("root.css");

@font-face {
    font-family: myFirstFont;
    src: url("Kalam-Bold.ttf");
}

h1 {
    font-size: 50px;
}

h2{
    font-size: 30px;
}

label, button{
    font-size: 20px;
}

body{
    background-color: var(--mid-gray);
    font-weight: bold;
    font-family: myFirstFont !important;
}

h1, h2, label, .color-blue{
    color: var(--blue);
}

form{
    background-color: white;
    border-color: var(--dark-gray);
    border-style: solid;
    border-radius: 50px;
    font-weight: bolder;
    padding: 20px 100px 20px 100px;
}

button{
    margin-top: 10px;
    background-color: var(--blue);
    color:white;
    padding: 10px 20px 10px 20px;
    width: 150px;
    border-radius: 50px;
    font-family: myFirstFont !important;
}

#container{
    height: 100vh;
    width: 100vw;
}

input{
    background-color: var(--gray);
    border-style: solid;
    border-radius: 50px;
    height: 40px;
    padding: 5px;
    border-color: var(--dark-gray);
}