body{
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.big-card {
    display: flex;
    flex-direction: column;

    margin-left: 13rem;
    margin-right: 13rem;

    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    margin-bottom: 2rem;
    max-height: 80vh;
    min-width: 50vw;
}

.big-card__image {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}

.big-card__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
}

.big-card__text {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    overflow-y: scroll;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.big-card__text::-webkit-scrollbar {
    display: none;
}

.big-card__text p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
}

.card--gradient-red {
    background: linear-gradient(0deg, #FF002E 0%, rgba(255, 0, 46, 0) 103.28%, rgba(255, 214, 0, 0) 103.29%);
}

.card--gradient-move {
    background: linear-gradient(0deg, #5200FF 0%, rgba(82, 0, 255, 0) 103.29%);
}


.big-card__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.big-card__button {
    transform: scale(1);
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.big-card__button:hover, .big-card__button:focus {
    transform: scale(1.3);
    transition: 0.5s;
}




@media screen and (max-width: 995px) {
    .big-card {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .big-card__button{
        font-size: 1rem;
    }

/* 
    .big-card__image {
        height: 30rem;
    } */

    .big-card__text p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 800px) {
    .big-card {
        margin-left: 7rem;
        margin-right: 7rem;
    }

    /* .big-card__image {
        height: 30rem;
    } */
}

@media screen and (max-width: 700px) {
    .big-card {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media screen and (max-width: 600px) {
    .big-card {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}