.contents-card-link{
    text-decoration: none;
    width: 100%;
}

.admin-course-buttons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%); 
    border-color: #71BC78;
}

.modify-course__link:hover {
    background-color: #71BC78;
}

.delete-course__link:hover {
    background-color: #71BC78;
}

.admin-link {
    text-decoration: none;
    color: white;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

/* .delete-course__link {
    background-color: #E1AD01;
    border-color: #71BC78;
}

.modify-course__link {
    background-color: blue;
    border-color: #71BC78;
} */

.contents-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contents-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contents-card {
    transform: scale(1);
    transition: 0.5s;
    margin: 1rem;
    border-radius: 1rem;
    width: 70%;
    padding: 1.5rem;    
}

.contents-card__item {
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    border-color: #71BC78;
    border-radius: 2rem;
    padding: 15px;
    text-align: center;
}

.admin-add-contents__item {
    /* background: #E1AD01; */
    border-color: #71BC78;
}

#chapter-container {
    display: flex;
    align-items: center;
}

.admin-chapter_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.admin-chapter_buttons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.admin-modify-chapter__icon {
    background-image: url("https://fiiwebapp.blob.core.windows.net/rot-web/admin_modify_chapter.png");
}

.admin-delete-chapter__icon {
    background-image: url("https://fiiwebapp.blob.core.windows.net/rot-web/admin_delete_chapter.png");
}

.admin-upload-chapter__icon {
    background-image: url("https://fiiwebapp.blob.core.windows.net/rot-web/admin_upload_course.png");
}

.contents-card__item:hover, .contents-card-link:focus .contents-card__item{
    background-color: #71BC78;
    /* background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%); */
}

.card--gradient-green {
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%); 
}

.contents-card__item p {
    color: #fff;
    font-size: 1.3rem;
    margin: 0;
}

@media screen and (max-width: 950px) {
    .contents-card__item p {
        color: #fff;
        font-size: 0.85rem;
        margin: 0;  
    }
}

@media screen and (max-width: 450px) {
    .contents-card__item p {
        color: #fff;
        font-weight: bold;
        font-size: 0.75rem;
        margin: 0;
    }
}