.navbar{
    margin: 0;
    background-color: #fff;
    display: flex; 
    justify-content: space-between;
}

.navbar__logo-nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 2rem;
}

.navbar__nav-links{
    width: 100%;
    display: flex;
    list-style: none;
    margin-right: 2rem;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.navbar__logo{
    width: 7rem;
    height: 2.5rem;
    padding: 1rem;
    margin: 0;
}

.navbar__link{
    transition: 0.3s;
    font-size: 1rem;
    color: #AFAFAF;
    text-decoration: none;
    font-weight: bold;
}

.navbar__link--clicked{
    color: #0C5AE8;
    font-weight: bold;
}


.navbar__link:hover, .navbar__link:focus{
    transition: 0.1s;
    color: #0C5AE8;
    font-weight: bold;
}

.navbar__log-btn{
    transition: 0.3s;
    background-color: #0C5AE8;
    width: 15rem;
    margin: 1rem;
    padding: 0.5rem 5rem;
    border-radius: 2rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar__log-btn:hover, .navbar__log-link:focus .navbar__login-btn{
    transition: 0.1s;
    background-color: #fff;
    border: 1px solid #0C5AE8;
    color: #0C5AE8;
    font-weight: bold;
}

.toggle {
    background-color: #fff;
    color: #40C9CC;
    height: 2.5rem;
    width: 2.5rem;   
    display: none;
    padding-right: 1rem;
  }

  .navbar__logo-div__container{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.active{
    display: flex !important;
}

.active__button{
    display: block !important;  
}

@media screen and (max-width: 1150px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
    
    .toggle{
        display: block;
    }
    .navbar__logo-nav-links {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem 0;
    }
  
    .navbar__nav-links {
        flex-direction: column;
        align-items: center;
        margin: 0;
        display: none;
    }
  
    .navbar__nav-links li {
        margin: 1rem 0;
        text-align: center;
    }
  
    .navbar__log-btn {
        margin-top: 1rem;
        margin-bottom: 2rem;
        display: none;
    }

    .navbar__logo-div {
        align-self: flex-start;
        width: -webkit-fill-available;
    }
}