<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be A Driver</title>
    
    <link rel="stylesheet" href="../public/css/scroll-bar.css">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/forms.css">
</head>
<body>
    <main>
        <nav id="navbar" class="navbar"></nav>
        <div class="flex flex-wrap flex-row justify-center align-center">
            <div class="flex flex-col justify-center align-center">
                <form class="flex flex-col align-center">
                    <h1>Bine ai venit!</h1>
                    <h2>Introduceți detaliile</h2>
                    <input type="text" id="email" name="email" placeholder="Email"/>
                    <div class="bottom_text"> Nu ai cont? <a href="register.html"> Înregistrează-te</a> </div>
                    <button>Schimbă parola</button>
                </form>
            </div>
            <div class="flex form__image" >
                <img src="../public/images/logo_bg.svg">
            </div>
        </div>  
        <script src="../public/js/api-requests/config/config.js"></script>
        <script src="../public/js/components/nav.js"></script>
        <!-- <script src="../public/js/api-requests/login-request.js"></script> -->
        <script src="../public/js/api-requests/change-password.js" type="module"></script> 
    </main>
</body>
</html>